<div rx-island="@Name" rx-route="@targetRoute!.RoutePattern.RawText" @attributes="@AdditionalAttributes" style="display: contents">
    <script type="module" nonce="@ScriptNonce">
        import reactive from "@scriptSource";
        reactive.process("@Name");
    </script>
</div>
